DEV_PRIVATE_KEY=
TOKEN_FAUCET_PKEY=
DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_ADMIN_ROLE_ID=
DISCORD_CONTRIBUTOR_ROLE_ID=
TS_CHANNEL_ID=
REGISTRATIONS_CHANNEL_ID=
VERIFICATIONS_CHANNEL_ID=